<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>

    <!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
    <add key="DurationAlert" value="100000"/>
    <add key="NAME_PAYPAD" value="Pay+ Esqueleto"/>
    <add key="LAST_NAME_PAYPAD" value="Esqueleto"/>
    <add key="NAME_APLICATION" value="WPFEsqueleto.exe"/>
    <add key="ImageBoucher" value="Images/Others/logo.png"/>
    <add key="ValuesDispenser" value="DP:50000-DP:10000-DP:2000"/>
    <add key="APLICATION_UPDATE" value="C:\Program Files (x86)\E-CITY\UpdateEcityInstaller\PayPlusUpdate.exe"/>
    <!--END OTHERS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="Port" value="COM5"/>  <!--Billeteros-->
    <add key="PortPrinter" value="USB002"/> <!--Impresora-->
    <add key="PrintBandrate" value="9600"/>
    <add key="PortBarcode" value="USB002"/> <!--Lector de código de barras-->
    <add key="BarcodeBandrate" value="9600"/>
    <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN TIMERS________________________________________________________________________________________________________________________-->
    <add key="TimerGenerico" value="00:59"/>
    <add key="TimerInactividad" value="00:40"/>
    <add key="TimerModal" value="00:15"/>
    <add key="TimerPublicity" value="4"/>
    <!--END TIMERS__________________________________________________________________________________________________________________________-->

    <!--BEGIN SERVICES INTEGRATION________________________________________________________________________________________________________________________________-->
  
    <!--END SERVICES INTEGRATION__________________________________________________________________________________________________________________________________-->
    
    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <add key="basseAddress" value="nGBLNh45L5YGp0XMAqpkjXhxonorVQnUf/zzpXMQpbU="/><!--ApiCore-->
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="Administrator/ValidateMoneyDispenser"/>
    <add key="GetToken" value="Authentication/Authenticate"/>
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad"/>
    <add key="SaveLog" value="PayPadAdministrator/SaveLog"/>
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog"/>
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice"/>
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction"/>
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction"/>
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount"/>
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail"/>
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad"/>
    <add key="GetBalance" value="PayPadAdministrator/GetBalance"/>
    <add key="GetUpload" value="PayPadAdministrator/GetUpload"/>
    <add key="SaveUpdateAdminOperation" value="PayPlusAdminController_MR/SaveUpdateAdminOperation"/>
    <add key="SavePayer" value="PayPadAdministrator/SavePayer"/>
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction"/>
    <add key="SaveErrorConsole" value="Console/SaveErrorConsole"/>
    <add key="GetInvoiceData" value="PayPadAdministrator/GetConsecutiveTransaction"/>
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

    <!--BEGIN ConexionDB______________________________________________________________________________________________________________________________________________-->
    <add key="ConnectionString" value="Data Source=C:\Users\H81\Documents\GitHub\EPM\WPFEsqueletoSantiagoV1._1\WPFEsqueletoSantiagoV1._1\bin\Debug\DataContext\DB_Local.db;Pooling=true;FailIfMissing=false;Version=3"/>
    <!--END ConexionDB______________________________________________________________________________________________________________________________________________-->

  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
